<section data-auto-animate>
  <h2 data-id="documentation-header">And more!</h2>
  <img
    src="assets/documentation.png"
    alt="Documentation image"
    class="r-stretch"
  />
</section>
<section data-auto-animate>
  <h2 data-id="documentation-header">And more!</h2>
  <ul>
    <li>Generating TypeScript types</li>
    <li>Querying foreign tables (using relational data)</li>
    <li>Querying JSONB data directly</li>
    <li>The many, many query filters</li>
    <li>The CLI that's still under heavy development</li>
  </ul>
  <aside class="notes">
    There's plenty I didn't have time to talk about that's well described in the
    documentation, such as...
  </aside>
</section>
