<section data-auto-animate>
  <h2 data-id="database-header">Database</h2>
  <img
    src="assets/features/database.png"
    class="r-stretch"
    alt="Database screen example"
  />
  <aside class="notes">
    This is the overview page as of right now<br />
    The database screen has a lot of really cool helper scripts if you're not
    good with SQL
  </aside>
</section>
<section data-auto-animate>
  <h2 data-id="database-header">Database</h2>
  <div class="code-container-container">
    <div class="server code-container">
      <span class="description">Read row:</span>
      <pre data-id="code"><code data-trim>{{readRow}}</code></pre>
    </div>
    <div class="client code-container">
      <span class="description">Subscribe to updates:</span>
      <pre data-id="code"><code data-trim>{{subscribeToChanges}}</code></pre>
    </div>
  </div>
</section>
<section data-auto-animate>
  <h2 data-id="database-header">Database</h2>
  <div class="code-container-container">
    <div class="server code-container">
      <span class="description">Update row:</span>
      <pre data-id="code"><code data-trim>{{updateRow}}</code></pre>
    </div>
  </div>
</section>
<section>
  LIVE DEMO HERE
</section>
