<div class="reveal">
  <div class="slides">
    <app-title-screen removeHost></app-title-screen>
    <app-features-screen removeHost></app-features-screen>
    <section data-auto-animate>
      <pre data-id="code"><code data-line-numbers="|1,7|2|4-6|" data-trim>{{code}}</code></pre>
    </section>
    <section data-auto-animate>
      <pre data-id="code"><code data-trim data-line-numbers>{{code}}</code></pre>
      Hello world!
      <aside class="notes">
        Hello world is sooo over used
      </aside>
    </section>
    <section>Slide 2</section>
  </div>
</div>
