<section>
  <h2>Credits & Sources</h2>
  <ul>
    <li>Presentation by <a href="https://shanethe.dev" target="_blank">Shane King</a></li>
    <li>
      <a href="https://supabase.io/" target="_blank">Supabase.io</a>
      <ul>
        <li><a href="https://supabase.io/docs" target="_blank">Documentation</a></li>
        <li><a href="https://supabase.io/pricing" target="_blank">Pricing Chart</a></li>
      </ul>
    </li>
    <li><a href="https://dev.to/dshukertjr/supabase-and-firebase-pricing-comparison-204f" target="_blank">Pricing Comparison</a></li>
    <li><a href="https://www.youtube.com/watch?v=WiwfiVdfRIc" target="_blank">Is Supabase Legit? by Fireship</a></li>
  </ul>
</section>
