/* You can add global styles to this file, and also import other style files */

:root {
  --highlight-color: #65D9A5;
  --background-color: #181818;
}

.slide-background-content {
  background-color: var(--background-color);
}

h2 {
  color: var(--highlight-color) !important;
}

ul {
  list-style: none !important; /* Remove default bullets */
}

ul li::before {
  content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: var(--highlight-color); /* Change the color */
  font-weight: bold; /* If you want it to be bold */
  display: inline-block; /* Needed to add space between the bullet and the text */
  width: 1em; /* Also needed for space (tweak if needed) */
  margin-left: -1em; /* Also needed for space (tweak if needed) */
}

.code-container {
  text-align: left;
}

.code-container .description {
  display: inline-block;
  font-size: 30px;
  margin-left: 48px;
  margin-bottom: -10px;
}
