<section>
  <h2>Features</h2>
  <div class="feature-grid-container">
    <div class="feature-grid">
      <div>
        <div class="title"><i class="fas fa-database"></i> Database</div>
        <span class="description">
          Provides a PostgreSQL database with the ability to subscribe to updates through the JavaScript SDK.
        </span>
      </div>
      <div class="fragment">
        <div class="title"><i class="fas fa-key"></i> Authentication</div>
        <span class="description">
          Supports various sign up and registration flows and can provide row level security.
        </span>
      </div>
      <div class="fragment">
        <div class="title"><i class="fas fa-hdd"></i> Storage</div>
        <span class="description">
          Store and serve files. Supports any media, including video files and images.
        </span>
      </div>
      <div class="fragment">
        <div class="title"><i class="fas fa-code"></i> Functions <span class="small">(soon)</span></div>
        <span class="description">
          Create and schedule custom functions to run, allowing for serverless architecture.
        </span>
      </div>
    </div>
  </div>
  <aside class="notes">
    <p>
      Database: They handle scaling for you, should you need that
    </p>
    <p>
      Authentication types: Google, GitHub, GitLab, Azure, Facebook, Twitter, Bitbucket
    </p>
  </aside>
</section>
