.comparison-container {
  display: flex;
}

table {
  font-size: 30px;
}

.highlight {
  color: var(--highlight-color);
  border-bottom-color: white;
}

h6 {
  margin-top: -20px;
  font-style: italic;
}

.tier {
}

th:first-child,
td:first-child {
  border-right: 1px solid white;
}
