<section data-auto-animate>
  <h2 data-id="comparison-header">Supabase vs Firebase Pricing</h2>
  <table>
    <thead>
    <tr>
      <th class="highlight tier">Free Tier</th>
      <th>Supabase</th>
      <th>Firebase</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td class="highlight">Database</td>
      <td>
        500MB storage<br />
        Unlimited API calls
      </td>
      <td>
        1 GB storage<br />
        10 GB data transfer/month<br />
        20k document writes/day<br />
        50k document reads/day<br />
        20k document deletes/day<br />
      </td>
    </tr>
    <tr>
      <td class="highlight">Auth</td>
      <td>Up to 10k users</td>
      <td>Unlimited</td>
    </tr>
    <tr>
      <td class="highlight">Storage</td>
      <td>
        1 GB of data<br />
        2 GB/month of data transfer
      </td>
      <td>
        5 GB of data<br />
        1 GB/day of data transfer<br />
        20K uploads/day<br />
        50K downloads/day<br />
      </td>
    </tr>
    </tbody>
  </table>
</section>
<section data-auto-animate>
  <h2 data-id="comparison-header">Supabase vs Firebase Pricing</h2>
  <table>
    <thead>
    <tr>
      <th class="highlight" [style.minWidth.px]="180">Pay As You Go</th>
      <th>Supabase ($25 + costs)</th>
      <th>Firebase</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td class="highlight">Database</td>
      <td>
        8 GB storage + $0.125/GB<br />
        Unlimited API calls
      </td>
      <td>
        $0.18/GB data transfer<br />
        $0.18/100K writes<br />
        $0.06/100K reads<br />
        $0.02/100K deletes
      </td>
    </tr>
    <tr>
      <td class="highlight">Auth</td>
      <td>Unlimited</td>
      <td>Unlimited</td>
    </tr>
    <tr>
      <td class="highlight">Storage</td>
      <td>
        Up to 100 GB storage + $0.021/GB<br />
        Up to 200 GB transffered + $0.07/GB
      </td>
      <td>
        $0.026/GB stored<br />
        $0.12/GB downloaded<br />
        $0.05/10k uploaded<br />
        $0.004/10 downloads
      </td>
    </tr>
    </tbody>
  </table>
  <aside class="notes">
    I believe the cost for auth pay as you go firebase comes from DB storage
  </aside>
</section>
